language: rust
dist: trusty
matrix:
  include:
  - os: linux
    rust: 1.15.1
  - os: linux
    rust: stable
  - os: linux
    rust: beta
  - os: linux
    rust: nightly
  - os: osx
    osx_image: xcode7.3
    rust: stable
  - os: osx
    osx_image: xcode8
    rust: stable
before_install:
- |
  if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
    sudo apt-add-repository ppa:mc3man/trusty-media -y
    sudo apt-get -qq update
    sudo apt-get install -y ffmpeg
  elif [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
    brew install ffmpeg
  else
    echo "Don't know how to install ffmpeg"
    exit 1
  fi
script:
- cargo test --verbose
